#container{
    border: 1px solid red;
    background-color: teal;
    width: 40%;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    margin: auto;
    padding: 10px;
    grid-template-areas:  
     "one two three"
     "six six four"
     "six six five";
     border-radius: 10px;
}
#container>div{
    border: 1px solid blue;
    border-radius: 10px;
}

#container>div:nth-child(1){

    border: 1px solid black;
    grid-area: one;
}
#container>div:nth-child(2){

    border: 1px solid black;
    grid-area: two;
}
#container>div:nth-child(3){

    border: 1px solid black;
    grid-area: three;
}
#container>div:nth-child(4){

    border: 1px solid black;
    grid-area: four;
}
#container>div:nth-child(5){

    border: 1px solid black;
    grid-area: five;
}
#container>div:nth-child(6){

    border: 1px solid black;
    grid-area: six;
}
#container>div>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}